.main {
	min-height: 315px;
	background-image: linear-gradient(247.0deg, #ffffff -7%, #ffffff 107%);
	padding-top: 30px;
	&__block {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 16px;
	}
	&__title {
		text-align: center;
		font-family: Roboto;
		font-size: 14.8px;
		font-weight: 300;
		text-transform: uppercase;
		color: #ffffff;
	}
}

.player {
	display: block;
	margin: 0 auto;
	max-width: 286px;
	border-radius: 11.9px;
	&__box {
		display: none;
	}
}

.main.active .player__box {
	display: block;
	padding-bottom: 30px;
}

.card {
	width: 136px;
	height: 150px;
	background-color: #e3e3e3;
	border-radius: 11.9px;
    border: none;
    outline: none;
	padding: 15px;
	cursor: pointer;
	&_active {
		background-image: linear-gradient(50.0deg, #e12d39 -19%, #a6242d 119%);
		box-shadow: 2px 3px 3px 0px rgba(39,49,41,0.0);
	}
	&:active {
		background-color: #d6d6d6;
	}
	&__text {
		margin-top: 10px;
		font-family: Roboto;
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
		text-transform: uppercase;
		color: #818181;
	}
	&_active .card__text {
		color: #ffffff;
	}
	&__logo {
		width: 87px;
		height: 87px;
	}
}