.second {
    min-height: 104px;
	padding-top: 30px;
}

.clock {
	display: block;
	text-align: center;
	font-family: Roboto;
	font-size: 70px;
	font-weight: 700;
	text-transform: uppercase;
	color: #1b1e26;
}